@font-face {
    font-family: Manrope-Bold;
    src: url(fonts/static/Manrope-Bold.ttf);
}

@font-face {
    font-family: Manrope-ExtraBold;
    src: url(fonts/static/Manrope-ExtraBold.ttf);
}

@font-face {
    font-family: Manrope-ExtraLight;
    src: url(fonts/static/Manrope-ExtraLight.ttf);
}

@font-face {
    font-family: Manrope-Light;
    src: url(fonts/static/Manrope-Light.ttf);
}

@font-face {
    font-family: Manrope-Medium;
    src: url(fonts/static/Manrope-Medium.ttf);
}

@font-face {
    font-family: Manrope-Regular;
    src: url(fonts/static/Manrope-Regular.ttf);
}

@font-face {
    font-family: Manrope-SemiBold;
    src: url(fonts/static/Manrope-SemiBold.ttf);
}