@import "./reset";
@import "./fonts";



$bg_color: hsl(210, 46%, 95%);
$border-rad: 10px;
$p-font-size: 12px;

@mixin p-style($color) {
    font-family: Manrope-Medium;
    font-size: $p-font-size;
    color: $color;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes showSlowly {
    from { height: 0;}
    to {height: 45px;}
}

html { height: 100%; }

body {
    min-height: 100%;
    @include flex-center();
    background-color: $bg_color;
}

.wrapper {
    max-width: 1170px;
    @include flex-center();
}

.container {
    width: 75%;
    height: fit-content;
    background-color: white;
    border-radius: $border-rad;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 5px 50px -30px hsl(212, 23%, 69%),
                5px 0 20px -20px hsl(212, 23%, 69%);
}

.cover-img {
    width: 37%;
    background: url(img/drawers.jpg) left center no-repeat;
    background-size: cover;
    border-bottom-left-radius: $border-rad;
    border-top-left-radius: $border-rad;
}

.content {
    width: 55%;
    padding: 4% 3% 4% 0;
    position: relative;

    & > h3 {
        font: {
            family: Manrope-Bold;
            weight: 700;
        }
        color: hsl(217, 19%, 35%);
        padding-bottom: 4%;
        width: 90%;
    }

    & > p {
        @include p-style(hsl(214, 17%, 51%));
        padding-bottom: 6%;
        width: 90%;
        line-height: 18px;
    }
}

.author {
    width: 100%;
    @include flex-center();
    justify-content: space-between;

    & > div {
        width: 80%;
        display: flex;
        align-items: center;
    }
}

.avatar {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 5%;
    background: url(img/avatar-michelle.jpg) center center no-repeat;
    background-size: cover;
}

.name { 
    width: 60%;

    & >:first-of-type {
        font-family: Manrope-ExtraBold;
        font-size: 12px;
        color: hsl(217, 19%, 35%);
        padding-bottom: 2px;
    }

    & >:last-of-type {
        @include p-style(hsl(212, 23%, 69%));
    }
}

.shareStyle {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url(img/icon-share.svg) center center no-repeat;
    background-color: hsl(210, 46%, 95%);
    background-size: 50%;
    border-radius: 50%;
    margin-right: 5%;
    cursor: pointer;
    &:focus { outline: none;}
}

.newStyle {
    @extend .shareStyle;
    width: 30px;
    height: 30px;
    background: url(img/icon-share2.svg) center center no-repeat;
    background-color: hsl(217, 19%, 35%);
    background-size: 55%;
    opacity: 0.8;
    &:focus { outline: none;}
}

.social {
    background-color: hsl(217, 19%, 35%);
    width: 55%;
    height: 45px;
    position: absolute;
    left: 56%;
    bottom: 35%;
    border-radius: 10px;
    @include flex-center();
    box-shadow: 0 5px 10px -5px hsl(212, 23%, 69%),
                5px 0 10px -5px hsl(212, 23%, 69%);
    display: none;
    animation-name: showSlowly;
    animation-duration: 0.5s;

    &::after {
        content: '';
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 13px solid hsl(217, 19%, 35%);
        position: absolute;
        top: 96%;
        left: 48%;
    }

    & > p {
        color: hsl(212, 23%, 69%);
        font-family: Manrope-Light;
        font-size: 10px;
        padding-right: 10px;
        letter-spacing: 5px;
        display: inline-block;
    }

    & > button {
        width: 30px;
        height: 30px;
        background-color: hsl(217, 19%, 35%);
        display: inline-block;
        border-radius: 50%;
        cursor: pointer;
        animation-name: showSlowly;
        animation-duration: 0.5s;
    }
}

.fb {
    background: url(img/icon-facebook.svg) center center no-repeat;
    background-size: 60%;
}

.twitter {
    background: url(img/icon-twitter.svg) center center no-repeat;
    background-size: 60%;
}

.pinterest {
    background: url(img/icon-pinterest.svg) center center no-repeat;
    background-size: 60%;
}

footer {
    position: absolute;
    bottom: 5%;
    & > p {
        font: {
            family: Manrope-ExtraBold;
            size: 12px;
        }
        color:hsl(214, 17%, 51%)
    }
}


@media only screen and (max-width:768px) {
    .container { width: 85%;}

    h3 { font-size: 17px;}

    .content { width: 50%;}
    .cover-img { width: 43%;}
    .social {
        width: 50%;
        left: 57%;
        & > button {
            width: 25px;
            height: 25px;
        }
        & > p {
            font-size: 9px; 
            padding-right: 7px;
        }
    }
}

@media only screen and (max-width:600px) {
    .social {
        height: 40px;
        left: 55%;
        bottom: 30%;
        & > button {
            width: 20px;
            height: 20px;
        }
        & > p { 
            letter-spacing: 3px;
            padding-right: 5px;
        }
    }
}

@media only screen and (max-width:500px) {
    .container {
        width: 90%;
        flex-direction: column;
        align-items: center;
    }

    .cover-img {
        width: 100%;
        height: 220px;
        border-bottom-left-radius: 0;
        border-top-right-radius: $border-rad;
    }

    .content {
        width: 100%;
        padding: 7% 5% 5% 10%;
        & > h3 { padding-bottom: 6%;}
        & > p { 
            padding-bottom: 12%;
            text-align: start;
        }
    }

    .social {
        width: 100%;
        height: 70px;
        bottom: 0;
        left: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        &::after { content: none;}
        & > button {
            width: 25px;
            height: 25px;
        }
        & > p {
            letter-spacing: 5px;
            padding-right: 10px;
        }
    }

    @keyframes showSlowly {
        from { height: 0;}
        to {height: 70px;}
    }
}